[submodule "theme"]
	path = theme
	url = git@github.com:mjeronimo/pelican-fh5co-marble.git
[submodule "plugins/i18n_subsites"]
	path = plugins/i18n_subsites
	url = git@github.com:StevenMaude/pelican-i18n_subsites.git
[submodule "plugins/pelican_vimeo"]
	path = plugins/pelican_vimeo
	url = git@github.com:mjeronimo/pelican_vimeo.git
	branch = main
[submodule "plugins/pelican_youtube"]
	path = plugins/pelican_youtube
	url = git@github.com:kura/pelican_youtube.git
	branch = main
[submodule "plugins/search"]
	path = plugins/search
	url = git@github.com:mjeronimo/search.git
